<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <ul class="ul-comment">
      <li class="li-comment">
      <%= link_to "#{comment.user.name}", user_path(comment.user.id) %>
      </li>
      <li class="li-comment"><%= comment.comment %></li>
      <% if comment.user == current_user %>
        <li class="li-comment">
          <%= link_to "Destroy", event_comment_path(comment.event_id, comment.id), method: :delete, remote: true, class: "btn btn-danger" %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <hr>
<% end %>