<div class="index">
  <div class="row">
    <div class="index-event col-lg-6 col-md-12">

      <%= render 'event_index' %>

    </div>
    <div class="index-game col-lg-6 col-md-12">

      <%= render 'game_index' %>

    </div>
  </div>
</div>