  <div class="home-top__event-participation">
    <% @types.each do |type| %>
      <%= link_to events_path, class: "home-top__event-participation__item-#{type.id} text-center", data: {id: "#{type.name}"} do %>
      <% end %>
    <% end %>
  </div>