  <div class="home-about__header">
    <div class="home-about__header__title text-center">
      <h1>Sport for Allってどんなサイト？</h1>
    </div>
    <div class="home-about__header__slide">
      <div class="slide-zoom">
        <div class="slide-image"></div>
        <div class="slide-image"></div>
        <div class="slide-image"></div>
        <div class="slide-image"></div>
      </div>
    </div>

    <div class="container-for-all">
      <div class="container-for-all__text text-center">
        <div class="bottom-color">スポーツを心から楽しもう</div>
        <p>スポーツは言葉を必要とせず、思い浮かんだ事を体で表現し、お互いに共有する事で皆んなで楽しむことの出来る人類共通の文化です。日頃からスポーツに精通している方も、これからスポーツを始めたいという方も心からスポーツを楽しみましょう。イベントを主催したり、参加者の確認、スケジュール管理を行うことができます。</p>
      </div>
    </div>


    <div class="about-for">
      <div class="flow text-center">
        <div class="bottom-color">このサイトの使い方</div>
      </div>
      <div class="about-for__text row">
        <div class="text-center about-for__text__title col-lg-6 col-md-12 animation-left">
          <h2>主催する</h2>
          <p>
            イベントを主催し、メンバーを集めることができます。<br>
            たくさんイベントを主催して、楽しいスポーツライフを共有しましょう。
          </p>
        </div>
        <div class="text-center about-for__text__image col-lg-6 col-md-12 animation-right">
          <%= image_tag 'host2.jpg', size: '600x400'%>
        </div>
      </div>
    </div>
    <div class="about-for">
      <div class="about-for__text row">
      <div class="text-center about-for__text__image col-lg-6 col-md-12 animation-left">
        <%= image_tag 'signup1.jpg', size: '600x400'%>
      </div>
      <div class="text-center about-for__text__title col-lg-6 col-md-12 animation-right">
        <h2>参加する</h2>
        <p>
          運動がしたいけど、機会が無い方も多いと思われます。<br>
          そんな方はイベント一覧から参加してみたいイベントを探してみましょう。<br>
          きっと最高な仲間及びスポーツを見つけることができるでしょう。
        </p>
      </div>
      </div>
    </div>
    <div class="about-for">
      <div class="about-for__text row">
        <div class="text-center about-for__text__title col-lg-6 col-md-12 animation-left">
          <h2>スケジュール管理</h2>
          <p>
            マイページにおいて、参加しているイベントのスケジュール管理を行えます。<br>
            どのイベントに参加していて、いつ開催されるかを把握できます。<br>
            また、勝率自動計算システムを導入しております。<br>
            過去に参加した試合の結果から勝率を導きます。
          </p>
        </div>
        <div class="text-center about-for__text__image col-lg-6 col-md-12 animation-right">
          <%= image_tag 'schedule.jpg', size: '600x400'%>
        </div>
      </div>
    </div>

  </div>
<script>
  // 1つ目の左側
  $('.animation-left').css('visibility','hidden');
  $(window).scroll(function(){
    var windowHeight = $(window).height(),
        topWindow = $(window).scrollTop();
    $('.animation-left').each(function(){
      var targetPosition = $(this).offset().top;
      if(topWindow > targetPosition - windowHeight + 270){
      $(this).addClass("fadeInLeft");
      }
    });
  });

  // 1つ目の右側
  $('.animation-right').css('visibility','hidden');
  $(window).scroll(function(){
    var windowHeight = $(window).height(),
        topWindow = $(window).scrollTop();
    $('.animation-right').each(function(){
      var targetPosition = $(this).offset().top;
      if(topWindow > targetPosition - windowHeight + 270){
      $(this).addClass("fadeInRight");
      }
    });
  });
</script>