<div class="event-index">
  
  <%= render "type_select" %>

  <%= render "type_content"%>

  <div class="event-host text-center">
    <%= link_to "新たにイベントを開催する", new_event_path, class: "btn btn-success"%>
  </div>
</div>