<% if @game.errors.any? %>

  <h2><%= @game.errors.count %>errors prohibited this  from being saved:</h2>

  <ul>
    <% @game.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div class="game-halfway">
  <%= render "divide_team" %>
</div>