// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// home#top
.home-top {
  background-color: black;
  color: white;
  .participation {
    .jumbotron {
      background-image: image-url("event.jpg");
      background-size: cover;
      background-position: bottom;
      background-color: rgba(255, 255, 255, 0.4);
      background-blend-mode: lighten;
      width: 80%;
      height: 100vh;
      margin: 0 auto;
      border-radius: 0;
      .container-participation {
        position: relative;
        width: 100%;
        height: 80vh;
        margin: 40px 0 0 0;
        border-radius: 2em;
        background-color: rgba(0, 0, 0, 0.2);
        .text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
        }
      }
    }
  }

  &__event-participation {
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    grid-gap: 0;
    grid-auto-rows: 400px 400px 400px 400px 400px;
    margin: 20px auto;
    padding: 0;
    background-color: black;
    &__item {
      &-1 {
        grid-column: 1/2;
        grid-row: 1/2;
        background-image: image-url("top-vollayball.jpg");
        background-size: cover;
        background-position: top;
      }
      &-1:hover {
        background-color: rgba(255, 255, 255, 0.6);
        background-blend-mode: lighten;
      }
      &-2 {
        grid-column: 3/4;
        grid-row: 1/2;
        background-image: image-url("baseball.jpg");
        background-size: cover;
        background-position: bottom;
      }
      &-2:hover {
        background-color: rgba(255, 255, 255, 0.6);
        background-blend-mode: lighten;
      }

      &-3 {
        grid-column: 2/3;
        grid-row: 2/3;
        background-image: image-url("soccer2.jpg");
        background-size: cover;
        background-position: bottom;
      }
      &-3:hover {
        background-color: rgba(255, 255, 255, 0.6);
        background-blend-mode: lighten;
      }

      &-4 {
        grid-column: 1/2;
        grid-row: 3/4;
        background-image: image-url("top-bowling.jpg");
        background-size: cover;
        background-color: lightgoldenrodyellow;
      }
      &-4:hover {
        background-color: rgba(255, 255, 255, 0.6);
        background-blend-mode: lighten;
      }

      &-5 {
        grid-column: 3/4;
        grid-row: 3/4;
        background-image: image-url("tennis2.jpg");
        background-size: cover;
        background-position: bottom;
      }
      &-5:hover {
        background-color: rgba(255, 255, 255, 0.6);
        background-blend-mode: lighten;
      }

      &-6 {
        grid-column: 2/3;
        grid-row: 4/5;
        background-image: image-url("top-basketball.jpg");
        background-size: cover;
        background-color: skyblue;
      }
      &-6:hover {
        background-color: rgba(255, 255, 255, 0.6);
        background-blend-mode: lighten;
      }

      &-7 {
        grid-column: 1/2;
        grid-row: 5/6;
        background-image: image-url("top-tabletennis.jpg");
        background-size: cover;
        background-color: lightgreen;
      }
      &-7:hover {
        background-color: rgba(255, 255, 255, 0.6);
        background-blend-mode: lighten;
      }

      &-8 {
        grid-column: 3/4;
        grid-row: 5/6;
        background-image: image-url("bad-m.jpg");
        background-size: cover;
        background-position: bottom;
      }
      &-8:hover {
        background-color: rgba(255, 255, 255, 0.6);
        background-blend-mode: lighten;
      }

    }
  }
  @media screen and (max-width: 1000px) {
    &__event-participation {
      display: flex;
      flex-wrap: wrap;
      margin: 20px auto;
      padding: 0;
      background-color: black;
      &__item {
        &-1 {
          background-image: image-url("top-vollayball.jpg");
          background-size: cover;
          background-position: top;
          width: 100%;
          height: 400px;
        }
        &-1:hover {
          background-color: rgba(255, 255, 255, 0.6);
          background-blend-mode: lighten;
        }
        &-2 {
          background-image: image-url("baseball.jpg");
          background-size: cover;
          background-position: bottom;
          width: 100%;
          height: 400px;
        }
        &-2:hover {
          background-color: rgba(255, 255, 255, 0.6);
          background-blend-mode: lighten;
        }
  
        &-3 {
          background-image: image-url("soccer2.jpg");
          background-size: cover;
          background-position: bottom;
          width: 100%;
          height: 400px;
        }
        &-3:hover {
          background-color: rgba(255, 255, 255, 0.6);
          background-blend-mode: lighten;
        }
  
        &-4 {
          background-image: image-url("top-bowling.jpg");
          background-size: cover;
          background-color: lightgoldenrodyellow;
          width: 100%;
          height: 400px;
        }
        &-4:hover {
          background-color: rgba(255, 255, 255, 0.6);
          background-blend-mode: lighten;
        }
  
        &-5 {
          background-image: image-url("tennis2.jpg");
          background-size: cover;
          background-position: bottom;
          width: 100%;
          height: 400px;
        }
        &-5:hover {
          background-color: rgba(255, 255, 255, 0.6);
          background-blend-mode: lighten;
        }
  
        &-6 {
          background-image: image-url("top-basketball.jpg");
          background-size: cover;
          background-color: skyblue;
          width: 100%;
          height: 400px;
        }
        &-6:hover {
          background-color: rgba(255, 255, 255, 0.6);
          background-blend-mode: lighten;
        }
  
        &-7 {
          background-image: image-url("top-tabletennis.jpg");
          background-size: cover;
          background-color: lightgreen;
          width: 100%;
          height: 400px;
        }
        &-7:hover {
          background-color: rgba(255, 255, 255, 0.6);
          background-blend-mode: lighten;
        }
  
        &-8 {
          background-image: image-url("bad-m.jpg");
          background-size: cover;
          background-position: bottom;
          width: 100%;
          height: 400px;
        }
        &-8:hover {
          background-color: rgba(255, 255, 255, 0.6);
          background-blend-mode: lighten;
        }
  
      }
    }
  }

  .host {
    .jumbotron {
      background-image: image-url("host1.jpg");
      background-size: cover;
      background-position: bottom;
      background-color: rgba(255, 255, 255, 0.4);
      background-blend-mode: lighten;
      width: 80%;
      height: 100vh;
      margin: 0 auto;
      border-radius: 0;

      .host_text {
        color: black;
        margin-top: 300px;
      }
    }
  }
}
// home#top


// home#about
.home-about {
  color: white;
  background-color: black;
  &__header {
    width: 100%;

    &__title {
      h1 {
        margin: 0;
        padding: 30px 0;
      }
    }

    &__slide {
      position: relative;
      overflow: hidden;
      .slide-zoom {
        width: 100%;
        height:90vh;
        z-index: -1;
        overflow: hidden;
      }
      .slide-zoom .slide-image {
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        color: transparent;
        /* background-size: cover; */
        background-position: 50% 50%;
        background-repeat: none;
        opacity: 0;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        // 20秒間かかるImgAnimeの処理を永遠と繰り返す
        -webkit-animation: ImgAnime 20s linear infinite 0s;
        -moz-animation: ImgAnime 20s linear infinite 0s;
        -o-animation: ImgAnime 20s linear infinite 0s;
        -ms-animation: ImgAnime 20s linear infinite 0s;
        animation: ImgAnime 20s linear infinite 0s;
      }
      .slide-zoom .slide-image:nth-child(1) {
        background-image: image-url("football-team.jpg");
        background-position: 50% 40%;;
      }
      .slide-zoom .slide-image:nth-child(2) {
        background-image: image-url("baseball-team.jpg");
        -webkit-animation-delay: 5s;
        -moz-animation-delay: 5s;
        -o-animation-delay: 5s;
        -ms-animation-delay: 5s;
        animation-delay: 5s;
        background-position: 50% 35%;
        
      }
      .slide-zoom .slide-image:nth-child(3) {
        background-image: image-url("basketball-team2.jpg");
        -webkit-animation-delay: 10s;
        -moz-animation-delay: 10s;
        -o-animation-delay: 10s;
        -ms-animation-delay: 10s;
        animation-delay: 10s;
        background-position: 50% 50%;
      }
      .slide-zoom .slide-image:nth-child(4) {
        background-image: image-url("teammate.jpg");
        -webkit-animation-delay: 15s;
        -moz-animation-delay: 15s;
        -o-animation-delay: 15s;
        -ms-animation-delay: 15s;
        animation-delay: 15s;
        background-position: 50% 30%;
      }
      @keyframes ImgAnime { 
        0% {
            opacity: 0;
            transform: scale(1.15);
            animation-timing-function: ease-in;
        }
        10% {
            opacity: 1;
            transform: scale(1.1);
            animation-timing-function: ease-out;
        }
        15% {
            opacity: 1;
            transform: scale(1.05);
        }
        20% {
            opacity: 1;
            transform: scale(1);
        }
        25% {
            opacity: 0;
            transform: scale(1);
        }
        100% {
            opacity: 0;
        }
      }
    }
  }
  .bottom-color {
    border-bottom: 5px solid rgb(199, 245, 73);
    font-size: 32px;
    padding: 0 5px;
    display: inline-block;
    text-align: left;
    margin: 70px auto 30px;
  }
  .container-for-all {
    width: 100%;
    height: 400px;
    background-color: white;
    color: black;
    &__text {
      width: 70%;
      margin: 0 auto;
      padding: 40px 0;
      p {
        font-size: 18px;
      }
    }
  }
  @media screen and (max-width: 569px) {
    .container-for-all {
      height: 400px;
      .bottom-color {
        font-size: 26px;
      }
    }
  }
  .about-for {
    background-color: black;
    &__text {
      padding: 0 50px;
      margin: 50px auto 100px;
      .bottom-color {
        border-bottom: 5px solid rgb(199, 245, 73);
        font-size: 32px;
        padding-left: 5px;
        display: inline-block;
        text-align: left;
        margin: 20px auto 150px;
      }
      h2 {
        margin: 40px 0;
      }
      p {
        font-size: 18px;
      }
      @media screen and (max-width: 1200px) {
        &__title {
          margin: 50px auto;
        }
        &__image {
          margin: 50px auto;
          text-align: center;
          image {
            text-align: center;
          }
        }
      }
    }
  }
  &__suggestion {
    background-color: white;
    color: black;
    height: 70vh;
    h2 {
      margin: 0;
      padding: 180px 0 80px 0;
    }
    
    
    &__sports {
      display: flex;
      justify-content: space-around;
    }
    @media screen and (max-width: 767px) {
      h2 {
        padding: 50px 0;
      }
      &__sports {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        &__type {
          margin: 30px 20px;
        }
      }
    }
  }
  &__registration {
    height: 300px;
    line-height: 300px;
  }
}



// home#about jQuery
.animation-left {
  margin: 50px 0;
  font-size: 40px;
}
  
.fadeInLeft {
  -webkit-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:1s;
  -ms-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  visibility: visible !important;
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, -100%, 0);
    transform: translate3d(-100%, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, -100%, 0);
    transform: translate3d(-100%, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.animation-right {
  margin: 50px 0;
}
  
.fadeInRight {
  -webkit-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:1s;
  -ms-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  visibility: visible !important;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, -100%, 0);
    transform: translate3d(100%, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

