// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-list {
  .menu {
    list-style: none;
    padding: 0;
    margin: 50px 0 0 0;
    display: flex;
    justify-content: center;
    li a {
      display: inline-block;
      width: 120px;
      text-align: center;
      padding: 8px 0;
      color: #fff;
      text-decoration: none;
      border-radius: 4px 4px 0 0;
    }
    li a.active {
      background: #882601;
      color: #fff;
    }
    li a:not(.active):hover {
      opacity: 0.5;
      transition: opacity 0.4s;
    }
  }

  .content.active {
    background: #812772;
    color: #fff;
    min-height: 0;
    padding: 0;
    margin: 0 auto;
    display: flex;
    // justify-content: center;
    width: 60%;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  
  .content {
    display: none;
    a:hover {
      text-decoration: none;
      color: #fff;
      background-color: rgb(200, 100, 210)
    }
  }
  
  
  .search {
    text-decoration: none;
    width: 100%;
    height: 100px;
    line-height: 100px;
    border: 1px solid rgb(140, 70, 140);
    color: #fff;
    &__item {
      width: 100%;
      height: 100px;
      &:hover {
        text-decoration: none;
        color: #fff;
        background-color: rgb(200, 100, 210)
      }
    }
    a {
      color: #fff;
    }
    ul {
      list-style: none;
      margin:  130px 0 0 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}