// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// <start> user-signup
.user-signup {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: image-url("signup4.jpg");
  background-size: cover;
  background-position: 50% 70%;
  color: white;
  z-index: 0;
  overflow: hidden;
  &__container {
    position: relative;
    width: 100%;
    height: 90vh;
    margin: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
    &__form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  }
  h1 {
    margin: 0 0 40px 0;
  }
  button, input, optgroup, select, textarea {
    color: black;
  }
  input, textarea, select {
    background-color: white;
    margin-bottom: 10px;
  }
  .sign-up-buttom {
    background-color: #5cb85c;
    color: white;
  }
  .for-user {
    margin-top: 30px;
  }
}
.user-signup:before {
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}
// <finish> user-signup

// <start> user-login
.user-login {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: image-url("signup3.jpg");
  background-size: cover;
  background-position: 50% 30%;
  color: white;
  z-index: 0;
  overflow: hidden;
  &__container {
    position: relative;
    width: 100%;
    height: 90vh;
    margin: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.5);
    &__form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  }
  h1 {
    margin: 0 0 40px 0;
  }
  button, input, optgroup, select, textarea {
    color: black;
  }
  input, textarea, select {
    background-color: white;
    margin-bottom: 20px;
  }
  .log-in-button {
    background-color: #5cb85c;
    color: white;
  }
  .for-user {
    margin-top: 30px;
  }
}
.user-login:before {
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}
// <finish> user-login


// <start> user-show
.user-show {

  // <start> user-show-introduction
  .introduction {
    border-bottom: 1px solid white;
    padding: 80px 50px;
    width: 90%;
    margin: 0 auto;
    &__header {
      margin: 0 auto;
      &__image {
        img {
          border-radius: 50%;
        }
      }
      // @media screen and (max-width: 1199px) {
      //   &__image {
      //     margin-bottom: 40px;
      //   }
      // }

      &__text {
        margin: 50px auto 0;
        &__flex { display: flex; }
        &__top {
          margin-bottom: 30px;
          &__name { font-size: 28px; }
        }
        .game_resolute {
          margin-top: 30px;
          &__item {
            margin: 10px auto;
          }
        }
      }
    }
  }
  // <finish> user-show-introduction

  // <start> user-show-calendar
  .calendar {
    width: 80%;
    margin: 0 auto;
    .simple-calendar {
      margin: 50px 0 30px;
      background-color: white;
      color: black;
      border-color: black;
      th { text-align: center; }
      &__heading {
        height: 90px;
        line-height: 90px;
        background-color: #FFCCFF;
        display: flex;
        justify-content: space-around;
        
        &__title {
          font-size: 24px;
        }
      }
      // .day {}
    
      // .wday-0 {}
      // .wday-1 {}
      // .wday-2 {}
      // .wday-3 {}
      // .wday-4 {}
      // .wday-5 {}
      // .wday-6 {}
    
      // .today {}
      // .past {}
      // .future {}
    
      // .start-date {}
    
      // .prev-month {}
      // .next-month { }
      // .current-month {}
    
      // .has-events {}
    }

  }
  // <finish> user-show-calendar


  // <start> user-show-index
  .index {
    .index-event {
      &__panel {
        margin: 100px 50px;
        &__heading {

          h3 { margin: 0; }

        }
        &__body {
          color: black;
          height: 600px;
          
          &__link {
            text-decoration: none;
            color: black;
          }
        }
      }
    }

    .index-game {
      &__panel {
        margin:  100px 50px;
        &__heading {

          h3 { margin: 0; }

        }
        &__body {
          color: black;
          height: 600px;
          
          &__link {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
  // <finish> user-show-index
}
// <finish> user-show


// <start> user-edit
.user-edit {
  width: 100%;
  height: 100vh;
  .bottom-color {
    margin: 40px 0 20px 80px;
    border-bottom: 5px solid rgb(199, 245, 73);
    font-size: 32px;
    padding-left: 5px;
    display: inline-block;
    text-align: left;
  }
  &__container {
    width: 45%;
    margin: 40px auto;
    &__label {
      margin: 25px auto;
    }
  }
}

// <finish> user-edit